.App {
  text-align: center;
  
}

.TopBar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color:#262620;
  color:white;
  font-weight:60;
  padding-left:10px;
  margin-left:5px;
  padding-top:10px;
  padding-bottom:10px;
  border-bottom: 4px solid rgb(221, 72, 20);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.Logo{
  max-height:96px;
  margin-right:10px;
  font-size:36px;
}
.LogoImg{
  display:flex;
}

li{
  display:flex;
}

/*LightMode Compatibility*/
@media (prefers-color-scheme: light) {
  .TopBar{
    color:black;
    background-color:rgb(255,255,248);
  }
  .login-popup{
    background:#FFFFFF;
  }
}

.other-info{
  color:rgb(125,125,125);
  font-size:8px;
  text-align: center;
  margin-top: 16px;
}
.username_btn{
  margin-right: 1rem;
  text-align:center;
  cursor:pointer;
}

