.form{
    display: flex;
}

.form input{
    flex:01; /* except for button, fill the spaces */
    font-size:1.25rem;
    outline: none;
    border: none;
    background:rgba(0,0,0,0);
    color:white;
    border-bottom: 1px solid rgb(221, 72, 20);
}

.create-button{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    margin-left: 0.5rem;
    background:rgb(221, 72, 20);
    color:white;
    border-radius:3px;
    font-weight:60;
    cursor:pointer;
}

.create-button:hover{
    background:rgb(171, 22, 00);
}

.suggest-candidates{
    padding-top: 1px;
    padding-bottom: 1px;
    align-items: center; 
    cursor: pointer;
    transition: all 0.15s;
    user-select: none;
}
.suggest-candidates:hover {
    background: #262620;
}
  

/*LightMode Compatibility*/
@media (prefers-color-scheme: light) {
    .create-button:hover{
        background:rgb(250, 100, 50);
    }
    .form input{
        color:black;
    }
    .suggest-candidates:hover{
        background: #FAFAF9;
      }
}
