.title{
    padding: 2rem;
    border-radius:3px;
    font-family: 'Ubuntu' sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight:bold;
    background: rgb(221, 72, 20);
    color: white;
}

.plan-list-template{
    border-radius:3px;
    background: #333333;
    min-width: 320px;
    max-width: 1024px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 0 auto; /*Center Align*/
}

.form-wrapper {
    color:white;
    padding: 1rem;
    border-bottom: 1px solid rgb(221, 72, 20);
}

.plans-wrapper{
    text-align:center;
    color:white;
    min-height: 5rem;
}

/*LightMode Compatibility*/
@media (prefers-color-scheme: light) {
  .plan-list-template{
      background: rgb(230,230,230);
  }
  .form-wrapper{
      color:black;
  }
  .plans-wrapper{
      color: black;
  }
}